---
import SocialLinks from '../../components/SocialLinks.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import "../../styles/about_page.css";
---

<PageLayout title={ "retrozinndev" + " | " + "Início" } icon="https://github.com/retrozinndev.png" lang="pt-BR">
    <body>
        <div class="container">
            <div class="about-section title">
                <h1>Olá, sou o <span class="highlight">João!</span></h1>
            </div>
            <div class="about" id="about">
                Sou um programador autodidata e entusiasta de tecnologia que está amando o <br>
                mundo da programação! Eu gosto muito de fazer projetos open-source! <br>
                Eu curto: programar, aprender sobre Linux, fazer jogos e aplicativos no meu <br>
                tempo livre!
            </div>
            <a href="/projects"><h3 class="projects" id="projects">Veja meus projetos &UpperRightArrow;</h3></a>
            <div class="socials ul" id="socials">
                <h2>You can find me in: </h2>
                <SocialLinks />
            </div>
        </div>
    </body>
</PageLayout>