
// Background
$bg-color-dark: #1e1e1f;
$bg-color-light: rgb(240, 240, 240);
$bg-navbar-color-dark: rgb(47, 49, 54);
$bg-navbar-color-light: rgb(210, 210, 210);

// Text Color
$link-color: #2f82c2;
$emphasis-color: #2c73a5;

// General
$accent-color: #e0c82b;
$accent-color-dark: #ad9c2a;

