
:root {
    --navbar-color: rgb(47, 49, 54);
    --background-color: #1e1e1f;
    --primary-color: #3a4750;
    --secondary-color: #343c42;
    --secondary-color-darker: #1f2931; 
    --link-color: #2f82c2;
    --text-emphasis-color: #2c73a5;
}