
@import "_colors.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Noto Sans, Segoe UI, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    color-scheme: dark;
}

.center {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

body {
    overflow-y: scroll;
    overflow-inline: clip;
    color-scheme: dark;
    color: white;
    background-color: var(--new-background-color);
    margin: auto;
}

h1 {
    font-size: 32.5px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.highlight {
    position: flex;
    font-style: bolder;
    font-weight: bolder;
    color: var(--new-accent-color);
    transition: ease-in-out 500ms;
}

.highlight:hover {
    color: var(--new-accent-color);
}

iframe {
    border: 0.005em solid white;
    border-radius: 12px;
}
