
@import "_colors.scss";
@import "_fonts.scss";

html {
    font-family: Noto Sans, Segoe UI, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    overflow-inline: clip;
    color: white;
}

body.dark {
    color-scheme: dark;
    background-color: $bg-color-dark;
    color: white;
}

body.light {
    color-scheme: light;
    background-color: $bg-color-light;
    color: black;
}

h1 {
    font-size: 32.5px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.center {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.highlight {
    position: flex;
    font-style: bolder;
    font-weight: bolder;
    color: $accent-color;
    transition: ease-in-out 500ms;
}

.highlight:hover {
    color: $accent-color;
}

iframe {
    border: 0.005em solid white;
    border-radius: 12px;
}
