@use "sass:color";
@use "./colors";

html {
  font-family: var(--font-fredoka);
  font-style: normal;
  scroll-behavior: smooth;

  .dark {
    color-scheme: dark;
    background-color: colors.$bg-color-dark;
    color: white;

    a:hover {
      color: colors.$accent-color;
    }
  }

  .light {
    color-scheme: light;
    
    background-color: colors.$bg-color-light;
    color: black;

    a:hover {
      color: colors.$accent-color-dark
    }
  }
}

body {
  overflow-y: scroll;
  overflow-inline: clip;
  color: white;

  & a {
    transition: 120ms ease-in;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    color: inherit;
  }
}

h1 {
    font-size: 2.4em;
    font-weight: 600;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.4em;
}

p {
  font-size: 1em;
}

.center {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

span.cute {
  font-family: var(--font-cherry);
}

span.highlight {
    font-weight: bolder;
    color: colors.$accent-color-dark;
    transition: ease-in-out 500ms;
}

.light span.highlight {
  color: color.scale($color: colors.$accent-color-dark, $lightness: 12%);
}

iframe {
    border: 0.005em solid white;
    border-radius: 12px;
}
