---
import SocialLinks from '../../components/SocialLinks.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import "../../styles/about_page.css";
---

<PageLayout title={ "retrozinndev" + " | " + "Home" } icon="https://github.com/retrozinndev.png" lang="en-US">
    <body>
        <div class="container">
            <div class="about-section title">
                    <h1>Hi, I'm <span class="highlight">João!</span></h1>
            </div>
            <div class="about" id="about">
                I'm a self-taught programmer and tech enthusiast that's learning software development stuff! <br>
                I absolutely love making open-source projects! <br>
                I like: coding, learning about Linux and making games and apps in my free time! <br>
            </div>
            <a href="/projects"><h3 class="projects" id="projects">Get in touch with my projects &UpperRightArrow;</h3></a>
            <div class="socials ul" id="socials">
                <h2>You can find me in: </h2>
                <SocialLinks />
            </div>
        </div>
    </body>
</PageLayout>