---
import { getLanguageFromURL, useTranslations } from "../i18n/utils";
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";

Astro.params.lang = getLanguageFromURL(Astro.url);

if(Astro.params.lang === undefined) {
    Astro.params.lang = "en";
}

const tr = useTranslations(Astro.params.lang as never);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>retrozinndev - Not Found!</title>
    <link rel="icon" href="https://github.com/retrozinndev.png" />
</head>
<NavBar />
<body>
    <div class="center">
        <div class="not-found">
            <h1> { tr("not_found.title") } </h1>
            <p>
                { tr("not_found.description.l1") } <br>
                { tr("not_found.description.l2") } <a href={ `/${Astro.params.lang}/#socials` }>{ tr("not_found.description.socials") }</a>
            </p>
        </div>
    </div>
<body>
    
</body>
</html>

<style>
    .not-found h1 {
        font-size: 45px;
    }

    .not-found p {
        font-size: 18px;
    }
</style>