---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";

Astro.params.lang = "en";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>retrozinndev - Not Found!</title>
    <link rel="icon" href="https://github.com/retrozinndev.png" />
</head>
<NavBar />
<body>
    <div class="center">
        <div class="not-found">
            <h1> 404! </h1>
            <p>
                Looks like I haven't developed this yet!<br>
                Feel free to suggest me anything, talk to me on any of <a href="/#socials">my socials!</a>
            </p>
        </div>
    </div>
<body>
    
</body>
</html>

<style>
    .not-found h1 {
        font-size: 45px;
    }

    .not-found p {
        font-size: 18px;
    }
</style>