---
import { getLanguages, getLanguageFromURL, useTranslations } from "../i18n/utils";
import Navigation from "../components/Navigation.astro";

Astro.params.lang = "en";
const langs: string[] = getLanguages();

langs.forEach(intl => {
    if(getLanguageFromURL(Astro.url) == intl) {
        Astro.params.lang = intl;
    }
});

const tr = useTranslations(Astro.params.lang as never);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>retrozinndev - Not Found!</title>
    <link rel="icon" href="https://github.com/retrozinndev.png" />
</head>
<Navigation />
<body>
    <div class="center">
        <div class="not-found">
            <h1> { tr("404.title") } </h1>
            <p>
                { tr("404.description.l1") } <br>
                { tr("404.description.l2") } <a href={ `/${Astro.params.lang}/#socials` }>{ tr("404.socials") }</a>
            </p>
        </div>
    </div>
<body>
    
</body>
</html>

<style>
    .not-found h1 {
        font-size: 45px;
    }

    .not-found p {
        font-size: 18px;
    }
</style>
