---
import { useTranslations } from "../i18n/utils";

const tr = useTranslations(Astro.params.lang as never);
---

<footer class="footer">
    <div class="container">
        { tr("footer.txt1") } &hearts; { tr("footer.txt2") }
         · <a href="https://github.com/retrozinndev/retrozinndev.github.io">{ tr("footer.txt3") }</a>
    </div>
</footer>

<style>
    .footer {
        margin-left: 0px;
        color: lightgray;
        overflow: scroll;
        display: block;
        width: 100%;
        font-family: Free Sans, Open Sans, Segoe UI Alternative, Segoe UI, sans-serif;
        font-size: 12.8px;
        text-align: center;
    }

    .container {
        width: auto;
    }

    a {
        color: lightgray;
        transition: 250ms;
    }

    a:hover {
        color: rgb(91, 91, 185);
    }
</style>