---
import { useTranslations } from "../i18n/utils";
import "../styles/_colors.css";

const lang = (Astro.params.lang || "en") as never;
const tr = useTranslations(lang);
---

<footer class="footer">
    { tr("footer.txt1") } &hearts; { tr("footer.txt2") }
     · <a href="https://github.com/retrozinndev/retrozinn.dev">{ tr("footer.txt3") }</a>
</footer>

<style>
    .footer {
        color: lightgray;
        overflow: hidden;
        display: block;
        width: 100%;
        font-family: Free Sans, Open Sans, Segoe UI Alternative, Segoe UI, sans-serif;
        font-size: 13px;
        text-align: center;
        padding-block: 10px;
    }

    a {
        color: lightgray;
        transition: 250ms;
    }

    a:hover {
        color: var(--new-accent-color);
    }
</style>
