---
import "../styles/global.css"
---

<footer class="footer">
    <div class="container">
        This page is open-source · <a href="https://github.com/retrozinndev/retrozinndev.github.io"> Improve this Page</a>
    </div>
</footer>

<style>
.footer {
    overflow: scroll;
    display: block;
    position: bottom;
    box-sizing: content-box;
    background-color: var(--navbar-color);
    font-size: 16px;
    text-align: center;
    width: fit-content;
    max-width: 100vw;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}
</style>