---
import { useTranslations } from "../i18n/utils";

const lang = (Astro.params.lang || "en") as never;
const tr = useTranslations(lang);
---

<footer class="footer">
    { tr("footer.txt1") } <i class="nf nf-fa-heart"></i> { tr("footer.txt2") }
     · <a href="https://github.com/retrozinndev/retrozinn.dev">{ tr("footer.txt3") }</a>
</footer>

<style lang="scss">

    @import "../styles/_colors.scss";

    .footer {
        overflow: hidden;
        display: block;
        width: 100%;
        font-family: Free Sans, Open Sans, Segoe UI Alternative, Segoe UI, sans-serif;
        font-size: 13px;
        text-align: center;
        padding-block: 10px;
    } 

    body.dark a,
    body.dark .footer {
        color: lightgray;
    }

    body.light a,
    body.light .footer {
        color: gray;
    }

    body.dark a:hover {
        color: $accent-color;
    }

    body.light a:hover {
        color: $accent-color-dark;
    }
</style>
