---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a class="link-button" href={ href }>
    <slot />
</a>

<style lang="scss">

    @import "../styles/_colors.scss";

    a {
        display: inline-flex;
        margin-inline: 8px;
        font-size: normal;
        font-weight: 600;
        width: fit-content;
        box-sizing: content-box;
        color: inherit;
        
        border: solid 0.032em $accent-color;
        padding: 5px 8px;
        border-radius: 12px;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: 150ms linear;
    }

    body.dark a:hover {
        color: white;
        background-color: $accent-color-dark;
    }

    body.light a:hover {
        color: black;
        background-color: $accent-color;
    }
</style>


