---
import { useTranslations } from "../i18n/utils.ts";
import "../styles/global.css";

const lang = Astro.params.lang;
const tr = useTranslations(lang as never);
---

<header>
    <div class="nav-left">
        <a rel="author" href="https://github.com/retrozinndev">
        <img src="https://github.com/retrozinndev.png" alt="Me">
        </a>
    </div>
    <nav class="navbar">
        <ul class="links">
            <li class="link">
                <a href={ `/${lang}/#top` } target="_self">{ tr("nav.home") }</a>
            </li>
            <li class="link">
                <a href={ `/${lang}/#chars` } target="_self">{ tr("nav.about") }</a>
            </li>
            <li class="link">
                <a href={ `/${lang}/projects` } target="_self">{ tr("nav.projects") }</a>
            </li>
        </ul>
    </nav>
</header>

<style>

    header {
        --avatar-size: 32px;
        --avatar-margin-left: 10px;

        display: flex;
        flex-direction: row;
        background-color: var(--navbar-color);
        padding: 6px;
    }

    .navbar {
        display: flex;
        font-size: medium;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .nav-left {
        float: left;
        display: flex;
        position: relative;
    }

    .nav-left > a > img {
        border-radius: 16px;
        width: var(--avatar-size);
        height: var(--avatar-size);
        margin-top: 9px;
        margin-left: var(--avatar-margin-left);
    }

    .links {
        display: flex;
        width: fit-content;
        list-style-type: none;
        overflow: hidden;
        text-align: center;
        margin-right: calc(var(--avatar-size) + var(--avatar-margin-left));
    }

    .link {
        display: list-item;
        margin-inline: 8px;
        margin-top: 0;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: 250ms;
    }

    a:hover {
        color: var(--link-color);
    }
</style>