---
interface Props {
    icon: string;
    developer: string;
    title: string;
    description: string;
    href: string;
}

const { icon, developer, title, description, href } = Astro.props;
---

<div class="project-card" id="projectCard">
    <div class="developer">
        <img class="icon" src={ icon }>
        <span class="developer-name">{ developer }</span>
    </div>
    <h1>{ title }</h1>
    <p>
        { description }
    </p>
</div>

<script>
    const projectCard = document.getElementById("projectCard");

    if(projectCard != undefined) {
        projectCard.onclick = () => {
            window.open(Astro.props.href, "_blank");
        }
    }
</script>

<style lang="scss">

    @import "../styles/_colors.scss";

    .project-card {
        display: block;
        list-style: none;
        padding: 10px;
        margin: 2px;
        line-height: 0.8rem;
        transition: ease-in 150ms;
        min-width: 150px;
        min-height: fit-content;
        border-radius: 10px;
        color: inherit;
    }

    body.dark .project-card {
        background: rgb(48, 46, 48);
        cursor: pointer;
    }

    body.light .project-card {
        background: rgb(200, 200, 200);
        cursor: pointer;
    }

    body.dark .project-card:hover {
        box-shadow: inset 0 0 0px 1px rgb(78, 78, 78),
            0px 5px 10px 1px dark;
        background: $accent-color-dark;
        transform: translateY(-2px);
    }

    body.light .project-card:hover {
        box-shadow: inset 0 0 0px 1px $accent-color,
        0px 10px 25px .05em rgb(100, 100, 100);
        background: $accent-color;
        transform: translateY(-2px);
    }

    .project-card > a {
        transition: none;
        color: inherit;
        text-decoration: none;
    } 

    .project-card h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8em;
        line-height: 1.2em;
        margin-top: 5px;
    }

    div.developer {
        display: block;
        margin-block: 0;
    }

    .icon {
        width: 32px;
        height: 32px;
        display: inline-flex;
        border-radius: 50%;
    }

    .developer-name {
        display: block;
        padding-top: 8px;
        font-size: medium;
    }

    p {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.4rem;
    }
</style>
