---
// Discord User Widget by vendicated (https://vendicated.dev/)
---

<iframe class="discord-embed"
        style="margin-left: 1em;"
        title="Discord user embed"
        width="340"
        height="120"
        sandbox="allow-scripts"
        frameborder="0"
        src="https://widgets.vendicated.dev/user?id=568589231954591749&theme=dark&banner=true&full-banner=false&rounded-corners=true&discord-icon=true&badges=false&guess-nitro=true&background-color=%23000000&foreground-color=%23fff" />

<ul class="stylish-row">
    <li>
        <a href="https://discord.com/users/568589231954591749">Discord</a>
    </li>
    <li>
        <a href="https://github.com/retrozinndev">GitHub</a>
    </li>
    <li>
        <a href="https://gitlab.com/retrozinndev">GitLab</a>
    </li>
    <li>
        <a href="https://codeberg.org/retrozinndev">CodeBerg</a>
    </li>
    <li>
        <a href="https://gravatar.com/retrozinndev">Gravatar</a>
    </li>
    <li>
        <a href="https://x.com/retrozinndev">X/Twitter</a>
    </li>
    <li>
        <a href="https://matrix.to/#/@retrozinndev:matrix.org">Matrix</a>
    </li>
    <li>
        <a href="https://www.reddit.com/user/Much_Clue7037">Reddit</a>
    </li>
    <li>
        <a href="mailto:joaovodias@gmail.com">E-mail</a>
    </li>
</ul>

<style>
    .stylish-row {
        max-width: calc(100vw - var(--margin-left));
        font-size: 14px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
    }

    .stylish-row > li {
        box-sizing: content-box;
        font-size: 16px;
        font-style: bold;
        border: 4px solid var(--primary-color);
        border-radius: 8px;
        background-color: var(--secondary-color);
        padding-inline: 2px;
        margin: 1px;
    }
</style>