---
// Discord User Widget by vendicated (https://widgets.vendicated.dev/)
---

<iframe
    title="Discord user embed"
    width="340"
    height=120
    frameborder="0"
    src="https://widgets.vendicated.dev/user?id=568589231954591749&theme=dark&banner=true&full-banner=false&rounded-corners=false&discord-icon=true&badges=false&guess-nitro=false&background-color=%231b1b28&foreground-color=%23ffffff" />

<ul class="stylish-list">
    <li>
        <img src="/icons/discord.svg" draggable="false"> Discord <a href="https://discord.com/users/568589231954591749">retrozinndev</a>
    </li>
    <li>
        <img class="no-brightness" src="/icons/github.svg" draggable="false"> GitHub <a href="https://github.com/retrozinndev">retrozinndev</a>
    </li>
    <li>
        <img src="/icons/gitlab.svg" draggable="false"> GitLab <a href="https://gitlab.com/retrozinndev">retrozinndev</a>
    </li>
    <li>
        <img class="no-brightness" src="/icons/codeberg.svg" draggable="false"> CodeBerg<a href="https://codeberg.org/retrozinndev">retrozinndev</a>
    </li>
    <li>
        <img class="no-brightness" src="/icons/x.svg" draggable="false"> X/Twitter <a href="https://x.com/retrozinndev">@retrozinndev</a>
    </li>
    <li>
        <img src="/icons/matrix.svg" draggable="false"> Matrix <a href="https://matrix.to/#/@retrozinndev:matrix.org">@retrozinndev:matrix.org</a>
    </li>
    <li>
        <img src="/icons/reddit.svg" draggable="false"> Reddit <a href="https://www.reddit.com/user/Much_Clue7037">Much_Clue7037</a>
    </li>
    <li>
        <img src="/icons/mail.svg" draggable="false"> Mail <a href="mailto:joaovodias@gmail.com">retrozinndev@gmail.com</a>
    </li>
</ul>

<style>
    .stylish-list {
        font-size: 16px;
        padding-left: 12px;
        list-style: none;
    }

    .stylish-list > li {
        display:flex;
        width: fit-content;
        box-sizing: content-box;
        border-radius: 8px;
        padding-inline: 2px;
        margin: 4px;
        line-height: 28px;
        align-items: center;
        justify-content: center;
    }

    a {
        margin-left: 6px;
        text-decoration: none;
        color: white;
        border: 1px solid var(--primary-color);
        border-radius: 12px;
        background-color: var(--secondary-color);
        transition: ease-in 200ms;
        padding: 2px;
        padding-inline: 4px;
    }

    a:hover {
        color: var(--link-color);
    }

    img {
        width: 22px;
        height: 22px;
        border-radius: 4px;
        margin-right: 6px;
    }
    img:not(.no-brightness) {
        filter: brightness(80000%);
    }
</style>