---
import { getStaticPaths } from "../../i18n/route.ts";
import { useTranslations }  from "../../i18n/utils.ts";
import SocialLinks from '../../components/SocialLinks.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import LinkButton from "../../components/LinkButton.astro";
import "../../styles/_colors.scss";

export { getStaticPaths };
const tr = useTranslations(Astro.params.lang as never);
---

<PageLayout title={ "retrozinndev - Home" } icon="https://github.com/retrozinndev.png">

    <div class="container">
        <div class="about-section title">
            <h1>{ tr("about.title")  } <span class="highlight">João!</span> </h1>
        </div>
        <div class="about" id="about">
            <p>{ tr("about.description") }</p>
        </div>
        <br>
        <LinkButton href=`/${Astro.params.lang}/projects`>
            { tr("about.projects") } <i class="nf nf-oct-arrow_up_right"></i>
        </LinkButton>
        <br>
        <div class="socials ul" id="socials">
            <h2>{ tr("about.socials_title") }</h2>
            <SocialLinks showDiscordEmbed={false} />
        </div>
    </div>

    <style>
        .container {
            font-weight: 500;
        }

        #projects {
            display: inline-flex;
            font-size: larger;
            font-weight: 600;
        }

        p {
            font-size: 1.05em;
            line-height: 1.3rem;
        }

        h1 {
            font-size: 40px;
        }
    </style>
</PageLayout>
