---
import { getStaticPaths } from "../../i18n/route.ts";
import { useTranslations }  from "../../i18n/utils.ts";
import SocialLinks from '../../components/SocialLinks.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import LinkButton from "../../components/LinkButton.astro";
import "../../styles/_colors.css";

export { getStaticPaths };
const tr = useTranslations(Astro.params.lang as never);
---

<PageLayout title={ "retrozinndev - Home" } icon="https://github.com/retrozinndev.png">
    <div class="container">
        <div class="about-section title">
            <h1>{ tr("about.title")  } <span class="highlight">João!</span> </h1>
        </div>
        <div class="about" id="about">
            { tr("about.description") }
        </div>
        <br>
        <LinkButton href=`/${Astro.params.lang}/projects`>
            { tr("about.projects") } &UpperRightArrow;
        </LinkButton>
        <br>
        <div class="socials ul" id="socials">
            <h2>{ tr("about.socials_title") }</h2>
            <SocialLinks />
        </div>
    </div>

    <style>
        .container {
            padding-inline: 6%;
            width: fit-content;
            font-weight: 500;
        }

        #projects {
            display: inline-flex;
            font-size: larger;
            font-weight: 600;
        }

        p {
            line-height: 1.2rem;
        }

        h1 {
            font-size: 40px;
        }
    </style>
</PageLayout>
