---
import PageLayout from "../../layouts/PageLayout.astro";
import { getStaticPaths } from "../../i18n/route.ts";


export { getStaticPaths };
---

<PageLayout title="Tech Stack" icon="https://github.com/retrozinndev.png">
    <div class="container">
        <>
    </div>

    <style>
        
        

    </style>
</PageLayout>
