---
import PageLayout from "../../layouts/PageLayout.astro";
import { getStaticPaths } from "../../i18n/route.ts";


export { getStaticPaths };
---

<PageLayout title="Tech Stack" icon="https://github.com/retrozinndev.png">
    <div class="container">
        <h1>Tech Stack</h1>
        <p>This is my knowlege stack! It contains the technologies that I've learned until today.</p>

        <h2>Languages</h2>
        <LinkButton href="https://typescriptlang.org">TypeScript</LinkButton>

        <h2>Frameworks/Libraries</h2>
        <LinkButton></LinkButton>
    </div>

    <style>
        
        

    </style>
</PageLayout>
