---
import PageLayout from "../../layouts/PageLayout.astro";


---

<PageLayout title="Tech Stack" icon="https://github.com/retrozinndev.png">
    <div class="container">
        <>
    </div>

    <style>
        
        

    </style>
</PageLayout>
