---
import "../styles/global.css";

interface Props {
    title: string;
    icon: string;
    lang: string;
}
const { title, icon, lang } = Astro.props;
---

<!doctype html>
<html lang={ lang }>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ title }</title>
    <link rel="icon" href={ icon }>
</head>
<slot />

<style>
    a {
        font-weight: bold;
        color: white;
        transition: ease;
        transition-duration: 350ms;
    }

    a:hover {
        color: var(--link-color);
    }
</style>
</html>