---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.scss";

interface Props {
    title: string;
    icon: string;
}
const { title, icon } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{ title }</title>
        <link rel="icon" href={ icon }>
    </head>

    <body class="dark">
        <Navigation />

        <div class="content">
            <slot />
        </div>
        <Footer />
    </body>

    <style>
        
        .content {
            padding-inline: 7%;
        }

    </style>
</html>
