---
import "../styles/global.css";
import NavBar from '../components/NavBar.astro';

interface Props {
    title: string;
    icon: string;
}

const { title, icon } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={ icon }>
    <title>{ title }</title>
</head>
<NavBar />
<div class="container">
    <slot />
</div>
</html>